doctype html
html(lang="")
  // Head
  include _main/head.pug
  body.body-test
    //- img(src="images/test/hp.jpg", alt="", class="img-test")
    // Begin Page loader
    include _components/block/essential/page-loader.pug
    // End Page loader

    // Begin SVG
    include _components/block/essential/svg-group.pug
    // End SVG

    // Begin Grid
    -var gridContainer = "container-large"
    include _components/block/essential/grid.pug
    // End Grid

    // Begin Social
    include _social/facebook-plugin.pug
    include _social/twitter-plugin.pug
    include _social/google-plus-plugin.pug
    //- include ../../_social/disqus.pug (priamo v dokumente)
    // End Social

    include _main/mixins.pug

    // Begin Header
    - var headerText = 'index';
    include _layout/header.pug
    // End Header


    // Begin Main content
    main.overflow-x-hidden
      - var heroTitle = 'UI Kit'
      //- - var heroPerex = 'Ui'
      // Begin Section hero
      include _components/block/essential/hero.pug
      // End Section hero

      // Begin Section ui
      include _components/block/essential/ui.pug
      // End Section ui


    // Begin Footer
    include _layout/footer.pug
    // End Footer

    // Begin Cookies bar
    include _components/uni/cookies.pug
    // End Cookies bar

    // Begin Modals
    .modal__overlay.js-modal-overlay
    include _components/uni/modal.pug
    // End Modals

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0v1vEZl7oz-becY9ePEeWIN7lTNnetLk" defer)

    // Begin Scripts
    include _main/scripts.pug
    // End Scripts
