doctype html
html(lang="")
	// Head 
	include _main/head.pug
	body.body-test
		//- img(src="images/test/hp.jpg", alt="", class="img-test")
		// Page loader
		include _components/block/essential/page-loader.pug
		
		// SVG group
		include _components/block/essential/svg-group.pug
		
		-var gridContainer = "container-large"
		// Grid
		include _components/block/essential/grid.pug

		include _social/facebook-plugin.pug
		include _social/twitter-plugin.pug
		include _social/google-plus-plugin.pug
		//- include ../../_social/disqus.pug (priamo v dokumente)
		
		include _main/mixins.pug
		
		// Header 
		- var headerText = 'index';
		include _layout/header.pug

		
		// Main content 
		main.overflow-x-hidden
			- var heroTitle = 'UI Kit'
			//- - var heroPerex = 'Ui'
			// Section hero
			include _components/block/essential/hero.pug
			
			// Section ui
			include _components/block/essential/ui.pug


		// Footer 
		include _layout/footer.pug

		// Cookies bar
		include _components/uni/cookies.pug

		// Modals 
		.modal-overlay
		include _components/uni/modal.pug
		
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0v1vEZl7oz-becY9ePEeWIN7lTNnetLk" defer)

		// Scripts 
		include _main/scripts.pug
		