/* Footer */

.footer {
  position: relative;
  z-index: 2;
  padding: 3rem 1rem 3rem;

  background-color: $color-black;

  flex-shrink: 0;
}

.footer__item {
}

.footer__title {
}

.footer__copy,
.footer__author {
  display: block;
  color: $color-white;
  @include font-size(14px);
  line-height: 1.6;
}

.footer__copy {
}
.footer__author {
  margin-bottom: 0.5rem;
}

.footer__link {
  color: $color-white;
  &:hover {
    text-decoration: underline;
  }
}

.footer__list {
}

.footer__item {
  display: inline-block;
  margin: 0 15px 25px;
}

.footer__link {
  display: inline-block;
  line-height: 1.4;
  color: $color-white;

  @include font-size(16px);
  &:hover {
    text-decoration: underline;
  }
}
