section.padding-style-6
  //- .container-large
    .row.margin-bottom-6
      .col-12.txt-c.h--margin-2
        h1 UI Kit
  .container-large
    .row.margin-bottom-2
      .col-12.txt-c
        h1 Headlines
    .row
      .col-12.col-sm-6.col-lg-4.margin-bottom-2
        h1.alfa h1, alfa
        h2.beta h2, beta
        h3.gamma h3, gamma
        h4.delta h4, delta
        h5.epsilon h5, epsilon
        h6.zeta h6, zeta

section.padding-style-6.bg-gray-light
  .container-large
    .row.margin-bottom-2
      .col-12.txt-c
        h2 Paragraphs
    .row
      .col-12.col-sm-6.col-lg-6
        p paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic
        .p--size-20
          p paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big
        .p-size-16
          p paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal
        .p--size-12
          p paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small
        ul.list-style
          li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
          li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
          li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
          li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
          li
            a(href="#") link styled unorder list item styled unorder list item styled unorder list item styled unorder list item
        ol.list-style
          li styled order list item styled order list item styled order list item styled order list item
          li styled order list item styled order list item styled order list item styled order list item
          li styled order list item styled order list item styled order list item styled order list item
          li styled order list item styled order list item styled order list item styled order list item


section.padding-style-6
  .container-large
    .row.margin-bottom-2
      .col-12.txt-c
        h2 Typography
    .row
      .col-12.col-sm-6.col-lg-6
        .padding-content-2.typography
          h2 Headline H1
          p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor.
          h2 Headline H2
          p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
          h3 Headline H3
          p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
          h4 Headline H4
          p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
          h5 Headline H5
          p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
          ul
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

          h4 Headline H4
          ol
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          figure
            img(src="https://via.placeholder.com/250x150", alt="")
            figcaption Image caption

section.padding-style-6.bg-gray-light
  .container-large
    .row.margin-bottom-2
      .col-12.txt-c
        h2 Buttons
    .row
      .col-12.margin-bottom-2
        .margin-bottom-2
          button.btn.btn-black-fill.btn--min-width-medium Button primary
        .margin-bottom-2
          button.btn.btn-purple-fill.btn--min-width-medium Button secondary
        .margin-bottom-2
          button.btn.btn--black-outline.btn--min-width-medium Button primary outline
        .margin-bottom-2
          button.btn.btn-purple-fill.btn--responsive Button secondary full
      .col-12.margin-bottom-2
        .margin-bottom-2
          button.btn.btn-black-fill.btn--size-small.btn--min-width-medium Button small
        .margin-bottom-2
          button.btn.btn-purple-fill.btn--size-medium.btn--min-width-medium Button normal
        .margin-bottom-2
          button.btn.btn--black-outline.btn--size-big.btn--min-width-medium Button border big

      .col-12.margin-bottom-2
        .margin-bottom-2
          button.btn.btn-black-fill.btn--size-small.btn--font-size-small.btn--min-width-medium Button size small
        .margin-bottom-2
          button.btn.btn-purple-fill.btn--font-size-medium.btn--min-width-medium Button size normal
        .margin-bottom-2
          button.btn.btn--black-outline.btn--font-size-big.btn--min-width-medium Button border size big

      .col-12.txt-c
        .margin-bottom-2
          button.btn.btn-purple-fill.btn--size-big.btn--responsive.js-modal-trigger(data-modal="modal") Button modal

section.padding-style-6
  .container-large
    .row.margin-bottom-2
      .col-12.txt-c
        h2 Form
    .row
      .col-12.col-sm-6.col-lg-6
        .padding-content-2
          .form__field.form__field--medium
            input(type="text" class="form__input" placeholder="Form input")
          .form__field.form__field--medium.js-field-validation
            input(type="text" class="form__input" placeholder="Form input")
            span.form__field-message Chybová hláška
          .form__field.form__field--medium
            input(type="text" class="form__input form__input-ext" placeholder="Form input")
          .form__field.form__field--medium
            textarea(cols="30", rows="10" class="form__textarea" placeholder="Form textarea")
          .form__field.form__field--medium.js-field-validation
            textarea(cols="30", rows="10" class="form__textarea form__textarea--limit" data-autoresize placeholder="správa")
            span.form__field-message chybová hláška
          .form__field.form__field--big
            label.form__label(for="") form label
            input(type="text" class="form__input")

          .form__field.form__field--big.form__placeholder.js-placeholder-block
            label.form__label(for="form_placeholder") form label placeholder
            input(type="text" class="form__input js-placeholder-trigger" id="form_placeholder" name="form_placeholder")

          .form__field.form__field--big.form__placeholder.form__placeholder-textarea.js-placeholder-block
            label.form__label(for="form_placeholder") form label placeholder
            textarea(cols="30", rows="10" class="form__textarea form__textarea--limit js-placeholder-trigger" data-autoresize)

          .form__field.form__field--medium.form__placeholder.js-placeholder-block
            label.form__label(for="select_placeholder") select label placeholder
            select.js-select.form__select(style="width:100%", data-placeholder="" id="select_placeholder")
              option(value="")
              option(value="1") Položka 1
              option(value="2") Položka 2
              option(value="3") Položka 3

          .form__field.form__field--medium.js-field-validation
            select.js-select.form__select(style="width:100%", data-placeholder="Vyberte položku")
              option(value="")
              option(value="1") Položka 1
              option(value="2") Položka 2
              option(value="3") Položka 3
            span.form__field-message Chybová hláška
      .col-12.col-sm-6.col-lg-6
        .padding-content-2
          .checkbox.checkbox--radiobox
            input#checkbox--radiobox_1.checkbox__input-hidden.js-checkbox-input-hidden(type='radio', name="checkbox--radiobox_1" required='')
            label.checkbox__label(for='checkbox--radiobox_1')
              span.checkbox__box
              span.checkbox__text checkbox--radiobox 1

          .checkbox.checkbox--radiobox.js-field-validation
            input#checkbox--radiobox_2.checkbox__input-hidden.js-checkbox-input-hidden(type='radio', name="checkbox--radiobox_1" required='')
            label.checkbox__label(for='checkbox--radiobox_2')
              span.checkbox__box
              span.checkbox__text checkbox--radiobox 2
            span.form__field-message Chybová hláška

          .checkbox
            input#checkbox_1.checkbox__input-hidden.js-checkbox-input-hidden(type='checkbox' required='')
            label.checkbox__label(for='checkbox_1')
              span.checkbox__box
              span.checkbox__text Checkbox 1

          .checkbox.checkbox--switcher
            input#checkbox_switcher.checkbox__input-hidden.js-checkbox-input-hidden(type='checkbox')
            label.checkbox__label(for='checkbox_switcher')
              span.checkbox__slider

        .padding-content-2.margin-bottom-3
          .js-range-block
            .form__field.form__field--big
              input(type="text" class="form__input js-range-value" max="1000" min="0" value="100")
            .filter-range
              input(class="js-range-slider-price", data-min="0", data-max="1000")
        .padding-content-2
          .form__field--medium.quantity.js-quantity
            input(type="number", class="form__input quantity__input js-quantity-input", min="1", step="1" value="1")
            .quantity__increment.js-quantity-increment
            .quantity__decrement.js-quantity-decrement
        .padding-content-2
          .form__field.form__field--medium.form__icon-block.form__placeholder.js-placeholder-block.js-flatpickr-calendar-date(data-wrap="true")
            label.form__label Kalendár - dátum
            input(type="text", class="form__input js-placeholder-trigger", value="", readonly, data-input, required)
            span.form__icon.fonticon.icon-chevron-down
        .padding-content-2
          .form__field.form__field--medium.form__icon-block.form__placeholder.js-placeholder-block.js-flatpickr-calendar-time(data-wrap="true")
            label.form__label Kalendár - čas
            input(type="text", class="form__input js-placeholder-trigger", value="", readonly, data-input, required)
            span.form__icon.fonticon.icon-chevron-down
        .padding-content-2
          .form__field
            .file-upload.js-file-upload-block
              input#file_upload.file-upload__input.js-file-upload-trigger(type='file', name='file_upload', data-multiple-caption='{count} files selected')
              label(for='file_upload' class="btn btn-purple-fill btn-min-width-normal txt-c file-upload-label") Nahratie súboru
              .file-upload__output.js-file-upload-output

section.padding-style-6.bg-gray-light
  .container-large
    .row.margin-bottom-2
      .col-12.txt-c
        h2 Form
    .row
      .col-12
        form#form-validation(role="form")
          .form__field.form__field--big.form__placeholder.js-placeholder-block
            label.form__label(for="form_validate_name") Name
            input(type="text" class="form__input js-placeholder-trigger" id="form_validate_name" name="form_validate_name" required)
          .checkbox.checkbox--radiobox
            input#checkbox--radiobox_male.checkbox__input-hidden.js-checkbox-input-hidden(type='radio', name="form_validate_gender" required value="male")
            label.checkbox__label(for='checkbox--radiobox_male')
              span.checkbox__box
              span.checkbox__text Male

          .checkbox.checkbox--radiobox
            input#checkbox--radiobox_female.checkbox__input-hidden.js-checkbox-input-hidden(type='radio', name="form_validate_gender" required='' value="female")
            label.checkbox__label(for='checkbox--radiobox_female')
              span.checkbox__box
              span.checkbox__text Female

          button(type="submit").btn.btn-purple-fill.btn--min-width-medium Button normal
