section.padding-style-6-3
	.container-large
		.row.margin-bottom-6
			.col-12.txt-c.h-margin-2
				h1 UI Kit
	.container-large
		.row.margin-bottom-6
			.col-12.txt-c
				h1 General headlines
			.col-12.col-sm-6.col-lg-4.margin-bottom-2
				h1.alfa h1, alfa
				h2.beta h2, beta
				h3.gamma h3, gamma
				h4.delta h4, delta
				h5.epsilon h5, epsilon
				h6.zeta h6, zeta

	.container-large
		.row.margin-bottom-6
			.col-12.txt-c
				h2 General paragraphs
			.col-12.col-sm-6.col-lg-6
				p paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic paragraph classic
				.p-size-20
					p paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big paragraph big
				.p-size-16
					p paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal paragraph normal
				.p-size-12
					p paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small paragraph small
				ul.list-style
					li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
					li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
					li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
					li styled unorder list item styled unorder list item styled unorder list item styled unorder list item
					li 
						a(href="#") link styled unorder list item styled unorder list item styled unorder list item styled unorder list item
				ol.list-style
					li styled order list item styled order list item styled order list item styled order list item
					li styled order list item styled order list item styled order list item styled order list item
					li styled order list item styled order list item styled order list item styled order list item
					li styled order list item styled order list item styled order list item styled order list item

	.container-large
		.row.margin-bottom-6
			.col-12.txt-c
				h2 Typography
			.col-12.col-sm-6.col-lg-6
				.padding-content-2.typography
					h2 Nadpis H1
					p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. 
					h2 Nadpis H2
					p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
					h3 Nadpis H3
					p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
					h4 Nadpis H4
					p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
					h5 Nadpis H5
					p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
					ul
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

					h4 Nadpis H4
					ol
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					figure
						img(src="https://via.placeholder.com/250x150", alt="")
						figcaption Image caption

	.container-large
		.row.margin-bottom-6
			.col-12.txt-c
				h2 Buttons
			.col-12.margin-bottom-2
				.margin-bottom-2
					button.btn.btn-black-fill.btn-min-width-normal Button primary
				.margin-bottom-2
					button.btn.btn-purple-fill.btn-min-width-normal Button secondary
				.margin-bottom-2
					button.btn.btn-black-outline.btn-min-width-normal Button primary outline
				.margin-bottom-2
					button.btn.btn-purple-fill.btn-responsive Button secondary full
			.col-12.margin-bottom-2
				.margin-bottom-2
					button.btn.btn-black-fill.btn-font-size-small.btn-min-width-normal Button size small
				.margin-bottom-2
					button.btn.btn-purple-fill.btn-font-size-normal.btn-min-width-normal Button size normal
				.margin-bottom-2
					button.btn.btn-black-outline.btn-font-size-big.btn-min-width-normal Button border size big
			.col-12.margin-bottom-2
				.margin-bottom-2
					button.btn.btn-black-fill.btn-size-small.btn-min-width-normal Button small
				.margin-bottom-2
					button.btn.btn-purple-fill.btn-size-normal.btn-min-width-normal Button normal
				.margin-bottom-2
					button.btn.btn-black-outline.btn-size-big.btn-min-width-normal Button border big
			.col-12
				.margin-bottom-2
					button.btn.btn-black-fill.btn-size-small.btn-min-width-normal Button icon small
						span.btn-icon.fonticon.icon-chevron-right.margin-left-08.icon-size-small
				.margin-bottom-2
					button.btn.btn-purple-fill.btn-size-normal.btn-min-width-normal Button icon normal
						span.btn-icon.fonticon.icon-chevron-right.margin-left-08.icon-size-normal
				.margin-bottom-2
					button.btn.btn-black-outline.btn-size-big.btn-min-width-normal Button icon big
						span.btn-icon.fonticon.icon-chevron-right.margin-left-08.icon-size-large
			.col-12.txt-c
				.margin-bottom-2
					button.btn.btn-purple-fill.btn-size-big.btn-responsive.js-modal-trigger(data-modal="modal") Button modal
	.container-large
		.row.margin-bottom-6
			.col-12.txt-c
				h2 Form
			.col-12.col-sm-6.col-lg-6
				.padding-content-2
					.form-field.form-field-normal
						input(type="text" class="form-input" placeholder="Form input")
					.form-field.form-field-normal.js-field-validation
						input(type="text" class="form-input" placeholder="Form input")
						error-span.field-message Chybová hláška
					.form-field.form-field-normal
						input(type="text" class="form-input form-input-ext" placeholder="Form input")
					.form-field.form-field-normal
						textarea(cols="30", rows="10" class="form-textarea" placeholder="Form textarea")
					.form-field.form-field-normal
						textarea(cols="30", rows="10" class="form-textarea form-textarea-limit" data-autoresize placeholder="správa")
						span.field-error-message chybová hláška
					.form-field.form-field-big
						label.form-label(for="") form label
						input(type="text" class="form-input")
					
					.form-field.form-field-big.form-field-placeholder.js-placeholder-block
						label.form-label(for="form_placeholder") form label placeholder
						input(type="text" class="form-input js-placeholder-trigger" id="form_placeholder" name="form_placeholder")
					
					.form-field.form-field-big.form-field-placeholder.form-field-placeholder-textarea.js-placeholder-block
						label.form-label(for="form_placeholder") form label placeholder
						textarea(cols="30", rows="10" class="form-textarea form-textarea-limit js-placeholder-trigger" data-autoresize)

					.form-field.form-field-normal.form-field-placeholder.js-placeholder-block
						label.form-label(for="select_placeholder") select label placeholder
						select.js-select.form-select(style="width:100%", data-placeholder="" id="select_placeholder")
							option(value="") 
							option(value="1") Položka 1
							option(value="2") Položka 2
							option(value="3") Položka 3

					.form-field.form-field-normal.js-field-validation
						select.js-select.form-select(style="width:100%", data-placeholder="Vyberte položku")
							option(value="") 
							option(value="1") Položka 1
							option(value="2") Položka 2
							option(value="3") Položka 3
						span.field-error-message Chybová hláška
			.col-12.col-sm-6.col-lg-6
				.padding-content-2
					.checkbox.radiobox
						input#radiobox_1.checkbox-hidden(type='radio', name="radiobox_1" required='')
						label.checkbox-label(for='radiobox_1')
							span.checkbox-box
							span.checkbox-text Radiobox 1

					.checkbox.radiobox.js-field-validation
						input#radiobox_2.checkbox-hidden(type='radio', name="radiobox_1" required='')
						label.checkbox-label(for='radiobox_2')
							span.checkbox-box
							span.checkbox-text Radiobox 2
						span.field-error-message Chybová hláška

					.checkbox
						input#checkbox_1.checkbox-hidden(type='checkbox' required='')
						label.checkbox-label(for='checkbox_1')
							span.checkbox-box
							span.checkbox-text Checkbox 1
				
				.padding-content-2.margin-bottom-3
					.js-range-block
						.form-field.form-field-big
							input(type="text" class="form-input js-range-value" max="1000" min="0" value="100")
						.filter-range
							input(class="js-range-slider-price", data-min="0", data-max="1000")
				.padding-content-2
					.form-field-normal.quantity-group.js-quantity
						input(type="number", class="form-input quantity-input js-quantity-input", min="1", step="1" value="1")
						.quantity-up.js-quantity-up
						.quantity-down.js-quantity-down
				.padding-content-2
					.form-field.form-field-normal.form-icon-block.form-field-placeholder.js-placeholder-block.js-flatpickr-calendar-date(data-wrap="true")
						label.form-label Kalendár - dátum
						input(type="text", class="form-input js-placeholder-trigger", value="", readonly, data-input, required)
						span.form-icon.fonticon.icon-chevron-down
				.padding-content-2
					.form-field.form-field-normal.form-icon-block.form-field-placeholder.js-placeholder-block.js-flatpickr-calendar-time(data-wrap="true")
						label.form-label Kalendár - čas
						input(type="text", class="form-input js-placeholder-trigger", value="", readonly, data-input, required)
						span.form-icon.fonticon.icon-chevron-down
				.padding-content-2
					.form-field
						.file-upload-block.js-file-upload-block
							input#file_upload.file-upload-input.js-file-upload-trigger(type='file', name='file_upload', data-multiple-caption='{count} files selected')
							label(for='file_upload' class="btn btn-purple-fill btn-min-width-normal txt-c file-upload-label") Nahratie súboru
							.file-upload-output.js-file-upload-output

	.container-large
		.row.margin-bottom-6
			.col-12.txt-c
				h2 Form
			.col-12
				form#form-validation(role="form")
					.form-field.form-field-big.form-field-placeholder.js-placeholder-block
						label.form-label(for="form_validate_name") Name
						input(type="text" class="form-input js-placeholder-trigger" id="form_validate_name" name="form_validate_name" required)
					.checkbox.radiobox
						input#radiobox_male.checkbox-hidden(type='radio', name="form_validate_gender" required value="male")
						label.checkbox-label(for='radiobox_male')
							span.checkbox-box
							span.checkbox-text Male

					.checkbox.radiobox
						input#radiobox_female.checkbox-hidden(type='radio', name="form_validate_gender" required='' value="female")
						label.checkbox-label(for='radiobox_female')
							span.checkbox-box
							span.checkbox-text Female

					button(type="submit").btn.btn-purple-fill.btn-min-width-normal Button normal


