svg(aria-hidden='true', style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#icon-play(viewBox='0 0 32 32')
      title play
      path(d='M30.662 5.003c-4.488-0.645-9.448-1.003-14.662-1.003s-10.174 0.358-14.662 1.003c-0.86 3.366-1.338 7.086-1.338 10.997s0.477 7.63 1.338 10.997c4.489 0.645 9.448 1.003 14.662 1.003s10.174-0.358 14.662-1.003c0.86-3.366 1.338-7.086 1.338-10.997s-0.477-7.63-1.338-10.997zM12 22v-12l10 6-10 6z')
    symbol#icon-chevron-left(viewbox='0 0 22 32')
      title chevron-left
      path(d='M7.065 15.931l12.329-12.329c0.554-0.554 0.554-1.385 0-1.939l-0.139-0.139c-0.554-0.554-1.385-0.554-1.939 0l-14.407 14.407 14.268 14.268c0.554 0.554 1.385 0.554 1.939 0l0.139-0.139c0.554-0.554 0.554-1.385 0-1.939l-12.19-12.19z')
    symbol#icon-chevron-right(viewbox='0 0 22 32')
      title chevron-right
      path(d='M15.515 15.931l-12.19 12.19c-0.554 0.554-0.554 1.385 0 1.939v0.139c0.554 0.554 1.385 0.554 1.939 0l14.407-14.268-14.268-14.407c-0.554-0.554-1.385-0.554-1.939 0l-0.139 0.139c-0.554 0.554-0.554 1.385 0 1.939l12.19 12.329z')

    symbol#icon-chevron-down(viewbox='0 0 47 32')
      title chevron-down
      path(d='M23.333 22.302l14.952-14.956c0.305-0.305 0.726-0.493 1.191-0.493s0.886 0.188 1.191 0.493v0l0.145 0.147c0.305 0.305 0.493 0.726 0.493 1.191s-0.188 0.886-0.493 1.191l-17.479 17.48-17.482-17.482c-0.304-0.305-0.492-0.725-0.492-1.19s0.188-0.885 0.492-1.19l-0 0 0.147-0.145c0.305-0.305 0.726-0.493 1.191-0.493s0.886 0.188 1.191 0.493v0z')
    symbol#icon-chevron-up(viewbox='0 0 47 32')
      title chevron-up
      path(d='M23.825 10.658l14.956 14.956c0.305 0.304 0.725 0.492 1.19 0.492s0.885-0.188 1.19-0.492l-0 0 0.145-0.147c0.305-0.305 0.493-0.726 0.493-1.191s-0.188-0.886-0.493-1.191l-17.48-17.48-17.479 17.482c-0.304 0.305-0.492 0.725-0.492 1.19s0.188 0.885 0.492 1.19l0.145 0.145c0.305 0.305 0.726 0.493 1.191 0.493s0.886-0.188 1.191-0.493v0z')

    symbol#icon-close(viewbox='0 0 32 32')
      title close
      path(d='M30.72 31.467l-14.72-14.72-14.613 14.72-0.853-0.747 14.72-14.72-14.72-14.613 0.853-0.853 14.613 14.72 14.72-14.72 0.747 0.853-14.72 14.613 14.72 14.72z')
