head
	//- DESCRIPTION META TAGS
	meta(charset="utf-8")
	title 
	meta(name='description', content='')
	meta(name='Robots', content='all, follow')
	meta(name='Author', content='')
	

	//- RESPONSIVE META TAGS
	meta(http-equiv="content-type" content="text/html")
	//- meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	
	
	//- VIEWPORT META TAGS
	meta(name="viewport" content="width=device-width, initial-scale=1")
	//- meta(name="theme-color" content="#fafafa")
	//- meta(name="format-detection" content="telephone=no")


	//- SOCIAL META TAGS
	meta(property="og:type" content="website")
	meta(property="og:url" content="")
	meta(property="og:title" content="")
	meta(property="og:description" content="")
	meta(property="og:image" content="")
	meta(property="og:image:type" content="")
	meta(property="og:image:width" content="")
	meta(property="og:image:height" content="")
	meta(property="og:image:alt" content="")

	
	//- FAVICON META TAGS
	//- <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	//- <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	//- <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	//- <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	//- <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	//- <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	//- <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	//- <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	//- <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	//- <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
	//- <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	//- <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	//- <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	//- <link rel="manifest" href="favicon/manifest.json">
	//- <meta name="msapplication-TileColor" content="#ffffff">
	//- <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	//- <meta name="theme-color" content="#ffffff">

	//- FONT 
	link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&amp;subset=latin-ext")
	
	//- ICON SET 
	//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

	//- CSS 
	//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css")
	//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.4/css/ion.rangeSlider.min.css")
	//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.6/flatpickr.min.css")
	//- link(rel="stylesheet", type="text/css", href="bower_components/animate.css/animate.min.css")
	//- link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
	//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css")
	//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.css")
	//- link(rel="stylesheet", href="js/plugins/jquery-flipster-master/dist/jquery.flipster.css")
	//- link(rel="stylesheet", href="js/plugins/bootstrap.min.css")
	

	//- CSS RESULT
	//- link(rel="stylesheet" href='css/external-styles.css')
	link(rel="stylesheet" href="css/plugins/select2.min.css")
	link(rel="stylesheet" href="css/plugins/ion.rangeslider.min.css")
	link(rel="stylesheet" href="css/plugins/flatpickr.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css")
	link(rel="stylesheet" href="css/plugins/dots.css")
	link(rel="stylesheet" href='css/plugins/aos.css')
	link(rel="stylesheet" href='css/plugins/bootstrap-grid.min.css')
	link(rel="stylesheet" href='css/app.css')
