
//- JQUERY
script(src="js/plugins/jquery.min.js" defer)
//- script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer)

//- SOCIAL LIBRARY
script(src='//platform.linkedin.com/in.js' type='text/javascript' defer)
	lang: en_US


//- JS LIBRARY
script(src="js/plugins/select2.min.js" defer)
script(src="js/plugins/ion.rangeslider.js" defer)
script(src="js/plugins/flatpickr.js" defer)
script(src="js/plugins/flatpickr-sk.js" defer)
script(src="js/plugins/swiper.min.js" defer)
script(src="js/plugins/slick.min.js" defer)
script(src="js/plugins/mixitup.min.js" defer)
script(src="js/plugins/lightgallery.js" defer)


	
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js" defer="")
//- script(src="js/plugins/jquery-flipster-master/src/jquery.flipster.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.min.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js" defer)
//- script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js" defer)
//- script(src="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/rangePlugin.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.7.0/jarallax.min.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" defer="")
//- script(src="bower_components/dotdotdot/src/jquery.dotdotdot.js" defer)


//- JS RESULT
//- script(src='js/external-scripts.js' defer)
//- script(src='js/plugins/jquery.dotdotdot.js' defer)
script(src='js/plugins/jquery.shave.min.js' defer)
script(src='js/plugins/modernizr.js' defer)
script(src='js/plugins/aos.js' defer)
script(src='js/plugins/autosize.js' defer)
script(src="https://www.google.com/recaptcha/api.js" defer)
script(src='js/plugins/tippy.min.js' defer)
script(src="js/plugins/parsley.min.js" defer)
script(src="js/localization/error-messages-sk.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" defer="")


script(src='js/app.js' defer)
	

