/* Image helpers */

.img {
    display: block;   
}

.img-full{
    width: 100%;
}

.img-cover{
	height: 100%;
	object-fit: cover;
}

.img-contain{
	height: 100%;
	object-fit: contain;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.img-hover{
	display: block;
	overflow: hidden;
	&:hover{
		> img{
			transform: scale(1.05, 1.05);
		}
	}
	img{
		transition: transform 400ms ease-out;
	}
}

.bg-image-hover{
	display: block;
	overflow: hidden;
	&:hover{
		> .bg-image{
			transform: scale(1.05, 1.05);
		}
	}
	.bg-image{
		transition: transform 400ms ease-out;
	}
}

.img-flex{
	display: flex;
	img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.img-flex-1{
	@include bp(xsmall){
		height: 200px;
	}
	@include bp(medium){
		height: 255px;
	}
	@include bp(rev-xsmall){
		height: 160px;
	}
	@include bp(excl-xxlarge){
		height: 255px;
	}
	@include bp(excl-xlarge){
		height: 195px;
	}
	@include bp(excl-large){
		height: 255px;
	}
}

.bg-image{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}