/* Image helpers */

.img {
  display: block;
}

.img-full {
  width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-cover {
  height: 100%;
  object-fit: cover;
}

.img-contain {
  height: 100%;
  object-fit: contain;
}

.bg-image-hover,
.img-hover {
  display: block;
  overflow: hidden;
  &:hover {
    > img {
      transform: scale(1.05, 1.05);
    }
  }
  img {
    transition: transform 400ms ease-out;
  }
}

.img-flex-contain,
.img-flex-cover {
  display: flex;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.img-flex-cover {
  img {
    object-fit: cover;
  }
}

.img-flex-contain {
  img {
    object-fit: contain;
  }
}

.bg-image,
.bg-rectangle {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-rectangle {
}
