/* Text helpers */

.txt-r {
	text-align: right;
}

.txt-c {
	text-align: center;
}

.txt-l {
	text-align: left;
}

.txt-upper {
	text-transform: uppercase;
}

.txt-lower {
	text-transform: lowercase;
}

.txt-italic{
	font-style: italic;
}

.txt-light{
	font-weight: 300;
}

.txt-regular{
	font-weight: 400;
}

.txt-bold{
	font-weight: 700;
}

.txt-line {
	text-decoration: line-through;
}

.txt-underline {
	text-decoration: underline;
}

.h-thin{
	h1, .alfa,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta{
		font-family: $font-secondary;
		font-weight: 300;
	}
}

.h-regular{
	h1, .alfa,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta{
		font-family: $font-secondary;
		font-weight: 400;
	}
}

.h-bold{
	h1, .alfa,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta{
		font-family: $font-secondary;
		font-weight: 700;
	}
}

.h-upper{
	h1, .alfa,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta{
		text-transform: uppercase;
	}
}

.h-line-1-2{
	h1, .alfa,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta{
		line-height: 1.2;
	}
}

.h-line-1-4{
	h1, .alfa,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta{
		line-height: 1.4;
	}
}

.h-line-1-6{
	h1, .alfa,
	h2, .beta,
	h3, .gamma,
	h4, .delta,
	h5, .epsilon,
	h6, .zeta{
		line-height: 1.6;
	}
}

@include bp(rev-small){
	.h-line-sm-1-2{
		h1, .alfa,
		h2, .beta,
		h3, .gamma,
		h4, .delta,
		h5, .epsilon,
		h6, .zeta{
			line-height: 1.2;
		}
	}
}

@include bp(rev-xsmall){
	.h-line-xs-1-2{
		h1, .alfa,
		h2, .beta,
		h3, .gamma,
		h4, .delta,
		h5, .epsilon,
		h6, .zeta{
			line-height: 1.2;
		}
	}
}

@include bp(rev-large) {
	.txt-lg-r {
		text-align: right;
	}
	.txt-lg-l {
		text-align: left;
	}
	.txt-lg-c {
		text-align: center;
	}
}

@include bp(rev-medium) {
	.txt-md-l {
		text-align: left;
	}
	.txt-md-r {
		text-align: right;
	}
	.txt-md-c {
		text-align: center;
	}
}

@include bp(rev-small) {
	.txt-sm-l {
		text-align: left;
	}
	.txt-sm-r {
		text-align: right;
	}
	.txt-sm-c {
		text-align: center;
	}
}

@include bp(rev-xsmall) {
	.txt-xs-c {
		text-align: center;
	}
	.txt-xs-l {
		text-align: left;
	}
	.txt-xs-r {
		text-align: right;
	}
}

@include bp(rev-xssmall) {
	.txt-xss-c {
		text-align: center;
	}
	.txt-xss-l {
		text-align: left;
	}
	.txt-xss-r {
		text-align: right;
	}
}