section.products-section.padding-bottom-0
	.container-large
		.row
			.products-group.js-products-group.no-gutter.d-lg-flex
				.product-item.js-product-trigger.col-xs-12.col-lg-4(data-id="jaguar-1")
					.product-header.js-product-trigger-mobile
						.product-image-block
							.product-overlay
							.product-image(style="background-image:url('images/f-pace.png')")
							.product-status
								.product-number 01
								.product-status-text sebavedomie
						.product-info
							.d-table-cell.align-middle
								h2.product-title Jaguar f-pace
								span.product-btn.btn.btn-gray-fill.min-width rozbaliť
									span.btn-icon.icon-l
					.product-content
						.overflow-hidden
							.product-description
								h3.product-description-title jeho športový zovnajšok rozbúcha srdce už z diaľky
								span.product-text-overlay f-PACE
							p.product-text Jednoducho nám povedzte, koľko kilometrov najazdíte, na aké obdobie vozidlo potrebujete, prípadne si zvoľte doplnkovú výbavu a my vám vypočítame splátky. Jednoduché. Môžete požiadať aj o vrátenie časti DPH z poplatkov za leasing a údržbu. Môžete si dokonca odpísať náklady zo svojho zdaniteľného základu – o spôsobe sa poraďte so svojím daňovým poradcom alebo účtovníkom.
							.cars-group.js-load-more-block
								.row.text-center
									span.car-headline Nové vozidlá
								.js-load-more-grid
									.row
										.car-item.col-xs-12.col-md-4
											img(src="images/car-1.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 20D AWD PURE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-2.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 25D AWD PRESTIGE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-3.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 3,0 V6 S/C AWD PORTFOLIO
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
									
								.row.text-center.load-more.js-load-more
									span.js-load-more-content.btn.btn-gray-fill.load-more-content.btn-min-width-ext zobraziť viac
									.loading-post.text-center
										.loading-spinner
							.cars-group.js-load-more-block
								.row.text-center
									span.car-headline Nové vozidlá
								.js-load-more-grid
									.row
										.car-item.col-xs-12.col-md-4
											img(src="images/car-1.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 20D AWD PURE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-2.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 25D AWD PRESTIGE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-3.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 3,0 V6 S/C AWD PORTFOLIO
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
									
								.row.text-center.load-more.js-load-more
									span.js-load-more-content.btn.btn-gray-fill.load-more-content.btn-min-width-ext zobraziť viac
									.loading-post.text-center
										.loading-spinner
				.product-item.js-product-trigger.product-item-ext.col-xs-12.col-lg-4(data-id="jaguar-2")
					.product-header.js-product-trigger-mobile
						.product-image-block
							.product-overlay
							.product-image(style="background-image:url('images/xe.png')")
							.product-status
								.product-number 02
								.product-status-text dynamika
						.product-info
							.d-table-cell.align-middle
								h2.product-title Jaguar xe
								span.product-btn.btn.btn-gray-fill.min-width rozbaliť
									span.btn-icon.icon-l
					.product-content
						.overflow-hidden
							.product-description
								h3.product-description-title jeho športový zovnajšok rozbúcha srdce už z diaľky
								span.product-text-overlay xe
							p.product-text Jednoducho nám povedzte, koľko kilometrov najazdíte, na aké obdobie vozidlo potrebujete, prípadne si zvoľte doplnkovú výbavu a my vám vypočítame splátky. Jednoduché. Môžete požiadať aj o vrátenie časti DPH z poplatkov za leasing a údržbu. Môžete si dokonca odpísať náklady zo svojho zdaniteľného základu – o spôsobe sa poraďte so svojím daňovým poradcom alebo účtovníkom.
							.cars-group.js-load-more-block
								.row.text-center
									span.car-headline Nové vozidlá
								.js-load-more-grid
									.row
										.car-item.col-xs-12.col-md-4
											img(src="images/car-1.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 20D AWD PURE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-2.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 25D AWD PRESTIGE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-3.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 3,0 V6 S/C AWD PORTFOLIO
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
									
								.row.text-center.load-more.js-load-more
									span.js-load-more-content.btn.btn-gray-fill.load-more-content.btn-min-width-ext zobraziť viac
									.loading-post.text-center
										.loading-spinner
							.cars-group.js-load-more-block
								.row.text-center
									span.car-headline Nové vozidlá
								.js-load-more-grid
									.row
										.car-item.col-xs-12.col-md-4
											img(src="images/car-1.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 20D AWD PURE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-2.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 25D AWD PRESTIGE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-3.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 3,0 V6 S/C AWD PORTFOLIO
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
									
								.row.text-center.load-more.js-load-more
									span.js-load-more-content.btn.btn-gray-fill.load-more-content.btn-min-width-ext zobraziť viac
									.loading-post.text-center
										.loading-spinner
				.product-item.js-product-trigger.col-xs-12.col-lg-4(data-id="jaguar-3")
					.product-header.js-product-trigger-mobile
						.product-image-block
							.product-overlay
							.product-image(style="background-image:url('images/xf.png')")
							.product-status
								.product-number 03
								.product-status-text elegancia
						.product-info
							.d-table-cell.align-middle
								h2.product-title Jaguar xf
								span.product-btn.btn.btn-gray-fill.min-width rozbaliť
									span.btn-icon.icon-l
					.product-content
						.overflow-hidden
							.product-description
								h3.product-description-title jeho športový zovnajšok rozbúcha srdce už z diaľky
								span.product-text-overlay xf
							p.product-text Jednoducho nám povedzte, koľko kilometrov najazdíte, na aké obdobie vozidlo potrebujete, prípadne si zvoľte doplnkovú výbavu a my vám vypočítame splátky. Jednoduché. Môžete požiadať aj o vrátenie časti DPH z poplatkov za leasing a údržbu. Môžete si dokonca odpísať náklady zo svojho zdaniteľného základu – o spôsobe sa poraďte so svojím daňovým poradcom alebo účtovníkom.
							.cars-group.js-load-more-block
								.row.text-center
									span.car-headline Nové vozidlá
								.js-load-more-grid
									.row
										.car-item.col-xs-12.col-md-4
											img(src="images/car-1.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 20D AWD PURE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-2.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 25D AWD PRESTIGE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-3.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 3,0 V6 S/C AWD PORTFOLIO
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
									
								.row.text-center.load-more.js-load-more
									span.js-load-more-content.btn.btn-gray-fill.load-more-content.btn-min-width-ext zobraziť viac
									.loading-post.text-center
										.loading-spinner
							.cars-group.js-load-more-block
								.row.text-center
									span.car-headline Nové vozidlá
								.js-load-more-grid
									.row
										.car-item.col-xs-12.col-md-4
											img(src="images/car-1.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 20D AWD PURE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-2.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 25D AWD PRESTIGE
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
										.car-item.col-xs-12.col-md-4
											img(src="images/car-3.png", alt="").car-img.img-full
											.car-content
												h4.car-title F-PACE 3,0 V6 S/C AWD PORTFOLIO
												ul.car-list
													li.car-list-item
														span.car-list-text Rok výroby
														span.car-list-text 2016
													li.car-list-item
														span.car-list-text Výkon motora
														span.car-list-text 221 KW
													li.car-list-item
														span.car-list-text Objem motora
														span.car-list-text 2339 cm
															sup 3
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Automatická
													li.car-list-item
														span.car-list-text Prevodovka
														span.car-list-text Diesel
												.car-price
													span.car-price-old 74 057 €
													span.car-price-new 60 727 €
												.car-button.txt-r
													a(href="#" target="_blank" class="car-btn btn btn-gray-fill full-width") Viac
														span.btn-icon.icon-l
									
								.row.text-center.load-more.js-load-more
									span.js-load-more-content.btn.btn-gray-fill.load-more-content.btn-min-width-ext zobraziť viac
									.loading-post.text-center
										.loading-spinner