.cookies-bar#cookies-bar.js-remove-block.p-white.p-margin-0
	p Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam 
		a(href="#") cookies 
		| aliquam erat laoreet.
	.margin-left-1.margin-bp-left-sm-0
		button.btn.btn-min-width-small.btn-purple-fill.btn-size-small.btn-small.js-remove-trigger Rozumiem

	