.modal.js-modal(data-modal="modal")
  modal__scroll
    .modal__box
      span.modal__close.close-trigger.js-close-modal
        +svg('close')
      .modal__body.js-modal-body
        .alfa Modal title