/* Accordion block */

.accordion-group{
	.accordion-item{
		position: relative;
		z-index: 2;
		border-bottom: 1px solid $color-black-normal;
		&.is-active{
			> .accordion-trigger{
				@include transition(none);
				&:after{
					content: "\e907";
				}
			}
			> .accordion-content{
				visibility: visible;
				overflow: visible;
				width: auto;
				height: auto;
				padding: 15px 40px 15px 20px;
				opacity: 1;

				@include transition(opacity 250ms ease);
			}
		}
	}

	.accordion-trigger{
		position: relative;
		display: block;
		margin-bottom: 0;
		padding: 20px 40px 20px 20px;
		font-family: $font-secondary;
		font-weight: 700;
		cursor: pointer;
		color: $color-black-normal;
		// background-color: $color-black-normal;

		@include transition(none);
		@include font-size(20px);
		&:after{
			position: absolute;
			top: 50%;
			right: 25px;
			display: block;
			font-family: $project-name;
			line-height: 1;
			content: '\e906';
			color: $color-black-normal;

			@include font-size(22px);
			@include transform(translateY(-50%));
			@include bp(rev-xsmall){
				right: 10px;
			}
		}
	}
	.accordion-content{
		visibility: hidden;
		overflow: hidden;
		width: 0;
		height: 0;
		opacity: 0;
		border-top: 0;

		@include transition(opacity 250ms ease);
	}
}


@include bp(rev-small){
	.accordion-group-sm{
		.accordion-item{
			position: relative;
			z-index: 2;
			border-bottom: 1px solid $color-black-normal;
			&.is-active{
				> .accordion-trigger{
					@include transition(none);
					&:after{
						content: "\e907";
					}
				}
				> .accordion-content{
					visibility: visible;
					overflow: visible;
					width: auto;
					height: auto;
					padding: 15px 40px 15px 20px;
					opacity: 1;

					@include transition(opacity 250ms ease);
				}
			}
		}
		.accordion-trigger{
			position: relative;
			display: block;
			margin-bottom: 0;
			padding: 20px 40px 20px 20px;
			font-family: $font-secondary;
			font-weight: 700;
			cursor: pointer;
			color: $color-black-normal;
			// background-color: $color-black-normal;

			@include transition(none);
			@include font-size(20px);
			&:after{
				position: absolute;
				top: 50%;
				right: 25px;
				display: block;
				font-family: $project-name;
				line-height: 1;
				content: '\e906';
				color: $color-black-normal;

				@include font-size(22px);
				@include transform(translateY(-50%));
				@include bp(rev-xsmall){
					right: 10px;
				}
			}
		}
		.accordion-content{
			visibility: hidden;
			overflow: hidden;
			width: 0;
			height: 0;
			opacity: 0;
			border-top: 0;

			@include transition(opacity 250ms ease);
		}
	}
}
