/* Blog block */
.blog-item{
	margin-bottom: 2rem;
}

.blog-content{
	display: block;
	overflow: hidden;
	border: 1px solid $color-gray-light;
	border-radius: 20px;
	background-color: #ffffff;

	&:hover{
		.blog-title{
			text-decoration: underline;
		}

		img{
			transform: scale(1.05, 1.05);
		}

	}
}

.blog-image-block{
	display: block;
	position: relative;
	overflow: hidden;

	img{
		transition: transform 400ms ease-out;
	}

}

.blog-text-block{
	padding: 2rem 2rem;
}

.blog-date{
	display: block;
	margin-bottom: 1rem;
	color: $color-black-normal;
	font-family: $font-primary;
	font-weight: 400;
	@include font-size(12px);
}
