/* Breadcrumbs block */

.breadcrumbs {
  margin-bottom: 2rem;
}

.breadcrumb__item {
  display: inline-block;
  vertical-align: middle;
  &:last-child .breadcrumb__link {
    // color: $color-black;
    &:after {
      content: none;
    }
  }
}

.breadcrumb__link {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  color: $color-black;
  @include font-size(12px);
  margin-right: 1rem;
  margin-bottom: 0.8rem;
  position: relative;
  &:focus,
  &:hover {
    color: $color-purple;
  }
  &:after {
    content: '/';
    position: absolute;
    right: -10px;
    top: 2px;
    display: inline-block;
    vertical-align: middle;
    @include font-size(12px);
    line-height: 1;
    color: $color-black;
  }
}
