/* Card block */
.card__item {
  margin-bottom: 2rem;
}

.card__content {
  display: block;
  overflow: hidden;
  border: 1px solid $color-gray-light;
  border-radius: 20px;
  background-color: $color-white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  &:hover {
    .card__title {
      text-decoration: underline;
    }

    img {
      transform: scale(1.05, 1.05);
    }
  }
}

.card__image-block {
  display: block;
  overflow: hidden;
  position: relative;

  img {
    transition: transform 400ms ease-out;
    will-change: transform;
  }
}

.card__text-block {
  padding: 2rem 2rem;
}

.card__btn {
}

.card__tag-list {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card__tag-list-item {
  display: inline-block;
  border-radius: 10px;
  padding: 5px 10px;
  color: $color-white;
  font-weight: 700;
  margin-bottom: 5px;
  background-color: $color-purple;
  @include font-size(14px);
}
