/* Social block */

.social__item {
  display: inline-block;
  margin: 0 0 10px;
  vertical-align: middle;
}

.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: $color-white;
  @include font-size(18px);
  svg {
    @include font-size(18px);
    fill: $color-black;
  }
  &:focus,
  &:hover {
    svg {
      fill: $color-purple;
    }
  }
}
