/* Social block */

.social-list{
}

.social-list-item{
	display: inline-block;
	margin: 0 0 10px;
	vertical-align: middle;
}

.social-list-link{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	color: $color-black-normal;

	@include font-size(22px);
	&:hover{
		color: $color-purple-normal;
	}
}
