/* Tabs block */

.tabs-group{
}

.tabs-list{
	display: flex;
	margin-bottom: 2em;
	text-align: center;
	border: 0;

	align-items: center;
	justify-content: center;
}

.tabs-list-3{
	.tab-list-item{
		width: 33.33%;
		max-width: 33.33%;
		flex: 0 0 33.33%;
	}
}

.tab-list-item{
	position: relative;
	display: flex;
	height: 70px;
	cursor: pointer;
	text-align: center;
	border: 0;
	// border-right: 1px solid #e7e9ec;
	background-color: $color-gray-light;

	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 20px;
	@include bp(rev-xsmall){
		padding: 10px 0;
	}
	// &:last-child{
	// 	border-right: 0;
	// }
	&.is-active{
		background-color: #ffffff;
		.tab-list-icon,
		.tab-list-text{
			color: $color-purple-normal;
		}
	}
	&:hover{
		.tab-list-icon,
		.tab-list-text{
			color: $color-purple-normal;
		}
	}
}

.tab-list-text{
	font-family: $font-secondary;
	font-weight: 700;
	line-height: 1.4;
	color: $color-black-normal;

	@include font-size(16px);
}

.tab-list-icon{
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	color: $color-black-normal;

	@include font-size(26px);
	@include bp(rev-xsmall){
		width: 100%;
		margin-right: 0;

		@include font-size(22px);
	}
}

.tabs-content{
	clear: both;
}

.tab-content-item{
	visibility: hidden;
	overflow: hidden;
	height: 0;
	-webkit-transition: opacity 400ms ease-out;
	-moz-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out;
	opacity: 0;
	&.is-active{
		visibility: visible;
		overflow: visible;
		height: auto;
		-webkit-transition: opacity 400ms ease-out;
		-moz-transition: opacity 400ms ease-out;
		transition: opacity 400ms ease-out;
		opacity: 1;
	}
}

@include bp(rev-medium){
	.tab-content-item-md{
		visibility: hidden;
		overflow: hidden;
		height: 0;
		-webkit-transition: opacity 400ms ease-out;
		-moz-transition: opacity 400ms ease-out;
		transition: opacity 400ms ease-out;
		opacity: 0;
		&.is-active{
			visibility: visible;
			overflow: visible;
			height: auto;
			-webkit-transition: opacity 400ms ease-out;
			-moz-transition: opacity 400ms ease-out;
			transition: opacity 400ms ease-out;
			opacity: 1;
		}
	}
}

@include bp(rev-small){
	.tab-content-item-sm{
		visibility: hidden;
		overflow: hidden;
		height: 0;
		-webkit-transition: opacity 400ms ease-out;
		-moz-transition: opacity 400ms ease-out;
		transition: opacity 400ms ease-out;
		opacity: 0;
		&.is-active{
			visibility: visible;
			overflow: visible;
			height: auto;
			-webkit-transition: opacity 400ms ease-out;
			-moz-transition: opacity 400ms ease-out;
			transition: opacity 400ms ease-out;
			opacity: 1;
		}
	}
}
