/* Tooltip block */

.tooltip {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 9;
  margin-left: 5px;
  &:hover {
    .tooltip__content {
      opacity: 1;
      visibility: visible;
      bottom: 100%;
      @include transition(bottom, 450ms, ease);
    }
  }
}

.tooltip--left {
  margin-left: auto;
  margin-right: 5px;
}

.tooltip--no {
  margin: 0;
}

.tooltip__text {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include font-size(12px);
  font-family: $font-primary;
  font-weight: 400;
  cursor: pointer;
}

.tooltip__text--small {
  display: flex;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-purple;
  border-radius: 100px;
  @include bp(rev-small) {
    padding-top: 1px;
  }
}

.tooltip__text--purple {
  &:hover {
    .tooltip__text--small {
      color: $color-white;
      background-color: $color-purple;
    }
  }
  .tooltip__text--small {
    color: $color-purple;
    border-color: $color-purple;
  }
  + .tooltip__content {
    background-color: $color-purple;
    &:after {
      border-color: $color-purple transparent transparent transparent;
    }
  }
}

.tooltip__content {
  position: absolute;
  bottom: 60%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  min-width: 190px;
  background-color: #2d5093;
  padding-bottom: 10px;
  padding: 15px 20px;
  border-radius: 25px;
  margin-bottom: 15px;
  @include transform(translateX(-50%));
  @include transition(bottom, 450ms, ease);
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #2d5093 transparent transparent transparent;
    @include transform(translateX(-50%));
  }
  p {
    line-height: 18px;
  }
}
