.irs{
	display: inline-block;
	width: 100%;
	height: 40px;
	cursor: pointer;
	vertical-align: middle;
}

.irs-line{
	top: 0px;
	height: 40px;
}

.irs-line-left{
	width: 20px;
}

.irs-single{
	position: relative;
	z-index: 3;
	top: 5px;
	font-family: $font-secondary;
	font-weight: 400;
	font-weight: 400;
	line-height: 1.2;
	cursor: pointer;
	text-transform: uppercase;
	color: $color-black-normal;
	background-color: transparent;

	@include font-size(16px);
}

.irs-max,
.irs-min{
	top: auto;
	bottom: -35px;
	font-family: $font-secondary;
	font-weight: 700;
	color: $color-black-normal;
	background-color: transparent;

	@include font-size(16px);
}

.irs-line-left,
.irs-line-mid,
.irs-line-right,
.irs-bar{
	top: 20px;
	height: 10px;
	background-color: $color-gray-light;
	background-image: none;
}

.irs-line-mid{
	left: 20px;
	width: calc(100% - 38px);
	border-right: 0;
}

.irs-bar{
	border-right: 0;
	border-left: 0;
}

.irs-line-right{
	border-left: 0;
}

.irs-line-left,
.irs-line-right{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.irs-line-right{
	width: 20px;
	border-radius: 0 25px 25px 0;
}

.irs-line-left{
	z-index: 1;
	width: 30px;
	border-right: 0;
	background-color: $color-purple-normal;
}

.irs-bar-edge{
	display: none;
}

.irs-slider{
	top: 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: #ffffff;
	background-image: none;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);

	@include border-radius(100px);
	&:hover{
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	}
	&:after{
		position: absolute;
		z-index: 4;
		top: 50%;
		left: 50%;
		display: block;
		font-family: $project-name;
		content: "\e904";
		color: $color-purple-normal;

		@include font-size(22px);
		@include transform(translate(-50%, -50%));
	}

}

.irs-from, .irs-to, .irs-single{
}

.irs-min, .irs-max{

}

.irs-slider.type_last{
}

.irs-bar{
	top: 20px;
	height: 10px;
	background-color: $color-purple-normal;
	background-image: none;
}