.select2-container {
  z-index: 9;
  &.select2-container--open,
  .select2-container--focus {
    .select2-selection--single,
    .select2-selection--multiple {
      .select2-selection__arrow {
        &:after {
          background-image: url("../images/icons/chevron-up.svg");
        }
      }
    }
  }
  .select2-search--inline .select2-search__field {
    margin-top: 0;
  }

  .select2-search--inline {
    display: block;
    width: 100%;
  }

  .select2-selection--single,
  .select2-selection--multiple {
    width: 100%;
    width: 100%;
    height: 60px;
    padding: 0 60px 1px 20px;
    padding-bottom: 1px;
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    color: $color-black;
    border: 2px solid $color-black;
    outline: none !important;
    background-color: $color-white;

    @include font-size(16px);
    @include border-radius(0);
    .select2-selection__rendered {
      padding: 0;
      line-height: 60px;
      color: $color-black;
    }
    .select2-selection__placeholder {
      color: $color-black;
    }
    .select2-selection__arrow {
      position: absolute;
      top: 0;
      right: 0px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      &:after {
        content: "" !important;
        width: 28px;
        height: 19px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("../images/icons/chevron-down.svg");
      }
      b {
        display: none;
      }
    }
  }
}

.select2-container
  .select2-container--focus
  .select2-selection--single
  .select2-selection__arrow:after,
.select2-container.select2-container--open
  .select2-selection--single
  .select2-selection__arrow:after {
  content: "\e91a";
}

.select2-dropdown {
  border: 2px solid $color-black;
  // border-top: 0;
  border-radius: 0;
  background-color: white;
  .select2-results__options--nested .select2-results__option {
    padding: 0 25px;
  }

  .select2-results__options {
    max-height: 220px !important;
    .select2-results__option[aria-selected="true"] {
      color: $color-black;
      background-color: #f5f5f5;
    }
    .select2-results__option {
      padding: 18px 20px;
      font-family: $font-secondary;
      font-weight: 700;
      letter-spacing: 0px;
      color: $color-black;

      @include font-size(16px);
    }
    .text-option {
      .status {
        float: left;
        margin-right: 15px;
      }
      .text {
        display: block;
        overflow: hidden;
        height: 100%;
      }
    }
    .select2-results__option--highlighted {
      color: $color-black;
      background-color: #f5f5f5;
    }
  }
}

.select-medium-dropdown {
  &.select2-dropdown {
    .select2-results__options {
      .select2-results__option {
        font-family: $font-primary;
        font-weight: 700;
        padding: 18px 15px;
        @include font-size(14px);
      }
    }
  }
}
