/* Tooltip block */

.js-tooltip{
	cursor: pointer;
}

.tippy-popper{
	z-index: 99999999!important;
	max-width: 330px;

	@include bp(rev-xsmall){
		max-width: 280px;
	}
}

.tippy-tooltip{
    padding: 12px 10px;
	font-weight: 400;
    line-height: 1.4;
	transition: none;
    color: #ffffff;
	border-radius: 3px;
	background-color: $color-purple-normal;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	@include font-size(12px);
}

.tippy-popper[x-placement^=top]{
	.tippy-tooltip{

	}
	.tippy-arrow{
		border-top-color: $color-purple-normal;
	}
}

.tippy-popper[x-placement^=bottom]{
	.tippy-arrow{
		border-bottom-color: $color-purple-normal;
	}
}

.tippy-content{
	display: flex;

	align-items: center;
	flex-wrap: wrap;
}

.tooltip-icon{
	display: flex;
	width: 30px;
	height: 30px;
	font-family: $font-primary;
	font-weight: 400;
	cursor: pointer;
	text-align: center;
	color: $color-purple-normal;

	align-items: center;
	justify-content: center;
	@include font-size(12px);
}
