/* Form helpers */

// .quantity-group.js-quantity
//     input(type="number", id="confirm_trip_number_days" class="form-input quantity-input js-quantity-input", min="1", step="1" value="1")
//     .quantity-up.js-quantity-up
//     .quantity-down.js-quantity-down

.quantity-group{
	position: relative;
}

.quantity-input{
	text-align: center;
	padding-left: 65px;
	padding-right: 65px;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-align: center;
}

.quantity-up,
.quantity-down{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position: absolute;
	top: 0;
	cursor: pointer;
	&:after,
	&:before{
		font-family: $project-name;
		@include font-size(12px);
	}
	&:hover{
		background-color: black;
		&:after,
		&:before{
			color: white;
		}
	}
}

.quantity-up{
	right: 0;
	&:before{
		content: '\e908';
	}
}

.quantity-down{
	left: 0;
	&:after{
		content: '\e90a';
	}
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}