/* Base settings */
*, *::before, *::after{
	box-sizing: border-box;
}

*{
	transition: color .15s, background .15s, border .15s, opacity .15s;
}

*:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

::-moz-selection{
	color: #fff;
	background-color: $color-purple-normal;
}

::selection{
	color: #fff;
	background-color: $color-purple-normal;
}

@-ms-viewport{
	width: device-width;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
	display: block;
}

html{
	position: relative;
	box-sizing: border-box;
	height: 100%;
	font-size: 100%;
}

body{
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 310px;
	height: 100%;
	margin: 0;
	color: #000;
	background-color: #ffffff;
	font-family: $font-primary;
	font-weight: 400;
	line-height: 1;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	outline: none;
	font-family: $font-primary;
}

a:focus, a:active, a:visited{
	outline: none;
}

.a-hover{
	&:hover, &:focus{
		text-decoration: underline;
		color: white;
	}

}

.a-hover-link{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.a-hover-link-text{
	text-transform: uppercase;
	color: $color-purple-normal;
	font-family: $font-secondary;
	font-weight: 700;

	@include font-size(16px);
}

.a-hover-link-icon{
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	color: $color-purple-normal;

	@include font-size(24px);
}

p{
	display: block;
	margin-top: 0;
	margin-bottom: 2.5em;
	color: $color-black-normal;
	font-family: $font-primary;
	font-weight: 400;
	line-height: 1.8em;

	@include font-size(16px);
}

.p-big{
	p{
		line-height: 2em;

		@include font-size(22px);
	}

}

.p-normal{
	p{
		line-height: 1.6em;

		@include font-size(14px);
	}

}

.p-small{
	p{
		line-height: 1.4em;

		@include font-size(12px);
	}

}

.p-secondary{
	p{
		font-family: $font-secondary;
		font-weight: 700;
	}

}

.p-line-26{
	p{
		line-height: 26px;
	}

}

.p-line-20{
	p{
		line-height: 20px;
	}

}

.p-opacity-05{
	p{
		opacity: 0.5;
	}

}

ol, ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.list-style, ol.list-style{
	margin-bottom: 2em;

	li{
		position: relative;
		display: block;
		margin-bottom: 8px;
		padding-left: 25px;
		color: $color-black-normal;
		font-family: $font-primary;
		font-weight: 400;
		line-height: 1.4;

		@include font-size(16px);
	}

	a{
		color: $color-purple-normal;

		&:hover{
			text-decoration: underline;
		}

	}

}

ul.list-style{
	li{
		&:before{
			position: absolute;
			top: 9px;
			left: 3px;
			display: block;
			width: 6px;
			height: 6px;
			content: "";
			color: $color-black-normal;
			border-radius: 100%;
			background-color: $color-black-normal;
		}

	}

}

ol.list-style{
	list-style-position: inside;
	counter-reset: item;

	li{
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			content: counter(item)'.';
			counter-increment: item;
			color: $color-black-normal;
			line-height: 1.4;

			@include font-size(16px);
		}

	}

}

em, i, .italic{
	font-style: italic;
}

strong, .strong{
	font-weight: 700;
}

small, .small{
	@include font-size(12px);
}

h1, .alfa, h2, .beta, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta{
	margin: 0;
	margin-bottom: 1.5em;
	color: $color-black-normal;
	font-family: $font-secondary;
	font-weight: 700;
	line-height: 1.2;

	a{
		color: inherit;
	}

}

h1, .alfa{
	@include font-size(40px);
	@include bp(rev-small){
		@include font-size(36px);
	}
	@include bp(rev-xsmall){
		@include font-size(32px);
	}

}

h2, .beta{
	@include font-size(36px);
	@include bp(rev-small){
		@include font-size(32px);
	}
	@include bp(rev-xsmall){
		@include font-size(28px);
	}

}

h3, .gamma{
	@include font-size(32px);
	@include bp(rev-small){
		@include font-size(28px);
	}
	@include bp(rev-xsmall){
		@include font-size(24px);
	}

}

h4, .delta{
	@include font-size(28px);
	@include bp(rev-small){
		@include font-size(24px);
	}
	@include bp(rev-xsmall){
		@include font-size(20px);
	}

}

h5, .epsilon{
	@include font-size(24px);
	@include bp(rev-small){
		@include font-size(20px);
	}
	@include bp(rev-xsmall){
		@include font-size(16px);
	}

}

h6, .zeta{
	@include font-size(20px);
	@include bp(rev-small){
		@include font-size(16px);
	}
	@include bp(rev-xsmall){
		@include font-size(16px);
	}

}
