footer.footer
	.footer-top.margin-bottom-2
		.container-large
			.row
				ul.footer-list.col-12.txt-c
					li.footer-list-item
						a(href="#").footer-list-link Kontakt
					li.footer-list-item
						a(href="#").footer-list-link Všeobecné podmienky
	.footer-bottom
		.container-large
			.row
				.col-12.txt-c
					.footer-copy © Centrálna nezisková spoločnosť 
					.footer-author WEB 2018 powered by gCMS: 
					a(href="#", target="_blank").footer-link www.cta.sk


