footer.footer
	.footer-top.margin-bottom-2
		.container-large
			.row
				ul.footer__list.col-12.txt-c
					li.footer__item
						a(href="#").footer__link Contact
					li.footer__item
						a(href="#").footer__link FAQ
	.footer-bottom
		.container-large
			.row
				.col-12.txt-c
					.footer__copy © Copyright
					.footer__author WEB 2018
					a(href="#", target="_blank").footer__link www
