footer.footer
	.footer-top.margin-bottom-2
		.container-large
			.row
				ul.footer-list.col-12.txt-c
					li.footer-list-item
						a(href="#").footer-list-link Contact
					li.footer-list-item
						a(href="#").footer-list-link FAQ
	.footer-bottom
		.container-large
			.row
				.col-12.txt-c
					.footer-copy © Copyright
					.footer-author WEB 2018 
					a(href="#", target="_blank").footer-link www

