header.header
  .header__navigation.js-navigation
    .header__flex
      span.header__hamburger.js-navigation-trigger
        span.header__hamburger-icon
      .header__logo
        a(href="index.html").header__logo-link
          img(src="images/logo.svg", alt="", class="img--responsive header__logo-image", width="80")
      nav.main-nav
        ul.dropdown__list.d-block.d-lg-none
          li.dropdown__item.is-active
            a(href="#").dropdown__link SK
          li.dropdown__item
            a(href="#").dropdown__link CZ
          li.dropdown__item
            a(href="#").dropdown__link EN
          li.dropdown__item
            a(href="#").dropdown__link DE

        ul.main-nav__list
          li.main-nav__item(class= headerText === "menu-1" ? 'is-active' : '')
            a(href="#").main-nav__link Menu link 1
          li.main-nav__item(class= headerText === "menu-2" ? 'is-active' : '')
            a(href="#").main-nav__link Menu link 2
          li.main-nav__item(class= headerText === "menu-3" ? 'is-active' : '')
            a(href="#").main-nav__link Menu link 3
          li.main-nav__item(class= headerText === "menu-4" ? 'is-active' : '')
            a(href="#").main-nav__link Menu link 4

        .language.dropdown.js-dropdown-block.margin-left-2.d-none.d-lg-flex
          .language__text.dropdown__trigger.js-dropdown-trigger SK
          .dropdown__content
            ul.dropdown__list
              li.dropdown__item
                a(href="#").dropdown__link CZ
              li.dropdown__item
                a(href="#").dropdown__link EN
              li.dropdown__item
                a(href="#").dropdown__link DE
