header.header
	.navigation
		.header-flex
			span.navigation-trigger
				span.navigation-trigger-icon
			.header-logo
				a(href="index.html").header-logo-link
					img(src="http://www.jakubtursky.sk/public/images/logo-brand-shadow-logo.png", alt="", class="img-responsive header-image", width="60")
			nav.nav-collapse
				ul.dropdown-list.d-block.d-lg-none
					li.dropdown-list-item.is-active
						a(href="#").dropdown-list-link SK
					li.dropdown-list-item
						a(href="#").dropdown-list-link CZ
					li.dropdown-list-item
						a(href="#").dropdown-list-link EN
					li.dropdown-list-item
						a(href="#").dropdown-list-link DE

				ul.menu-list
					li.menu-list-item(class= headerText === "menu-1" ? 'is-active' : '')
						a(href="#").menu-list-link Menu polo탑ka 1
					li.menu-list-item(class= headerText === "menu-2" ? 'is-active' : '')
						a(href="#").menu-list-link Menu polo탑ka 2
					li.menu-list-item(class= headerText === "menu-3" ? 'is-active' : '')
						a(href="#").menu-list-link Menu polo탑ka 3
					li.menu-list-item(class= headerText === "menu-4" ? 'is-active' : '')
						a(href="#").menu-list-link Menu polo탑ka 4
				.header-language-block.dropdown-block.js-dropdown-block.margin-left-2.d-none.d-lg-flex
					.header-language-text.dropdown-trigger.js-dropdown-trigger SK
					.dropdown-content
						ul.dropdown-list
							li.dropdown-list-item
								a(href="#").dropdown-list-link CZ
							li.dropdown-list-item
								a(href="#").dropdown-list-link EN
							li.dropdown-list-item
								a(href="#").dropdown-list-link DE
