/* Animate helpers */
@-webkit-keyframes rotate-forever{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg); 
	}
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg); 
	} 
}

@keyframes rotate-forever{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg); }
	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg); 
	}
}

.loading-spinner{
	display: inline-block;  width: 40px;
	height: 40px;
	-webkit-animation-name: rotate-forever;
	animation-name: rotate-forever;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	border: 4px solid $color-black-normal;
	border-right-color: transparent;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
