.animated{
	animation-duration: 1s;

	animation-fill-mode: both
}

.animated.infinite{
	animation-iteration-count: infinite
}

.animated.hinge{
	animation-duration: 2s
}

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{
	animation-duration: .75s
}

.bounce{
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}


@-webkit-keyframes bounce{
	0%,100%,20%,50%,80%{
		bottom: 10px;
	}

	40%{
		bottom: -10px;
	}

	60%{
		bottom: -5px;
	}
}


@-ms-keyframes bounce{
	0%,100%,20%,50%,80%{
		bottom: 10px;
	}

	40%{
		bottom: -10px;
	}

	60%{
		bottom: -5px;
	}
}

@keyframes bounce{
	0%,100%,20%,50%,80%{
		bottom: 10px;
	}

	40%{
		bottom: -10px;
	}

	60%{
		bottom: -5px;
	}
}



@keyframes fadeIn{
	0%{
		opacity: 0
	}

	to{
		opacity: 1
	}
}

.fadeIn{
	animation-name: fadeIn
}

@keyframes fadeInDown{
	0%{
		transform: translate3d(0,-100%,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInDown{
	animation-name: fadeInDown
}

@keyframes fadeInDownBig{
	0%{
		transform: translate3d(0,-2000px,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInDownBig{
	animation-name: fadeInDownBig
}

@keyframes fadeInLeft{
	0%{
		transform: translate3d(-100%,0,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInLeft{
	animation-name: fadeInLeft
}

@keyframes fadeInLeftBig{
	0%{
		transform: translate3d(-2000px,0,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInLeftBig{
	animation-name: fadeInLeftBig
}

@keyframes fadeInRight{
	0%{
		transform: translate3d(100%,0,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInRight{
	animation-name: fadeInRight
}

@keyframes fadeInRightBig{
	0%{
		transform: translate3d(2000px,0,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInRightBig{
	animation-name: fadeInRightBig
}

@keyframes fadeInUp{
	0%{
		transform: translate3d(0,100%,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInUp{
	animation-name: fadeInUp
}

@keyframes fadeInUpBig{
	0%{
		transform: translate3d(0,2000px,0);
		opacity: 0;
	}

	to{
		transform: none;
		opacity: 1;
	}
}

.fadeInUpBig{
	animation-name: fadeInUpBig
}

@keyframes fadeOut{
	0%{
		opacity: 1
	}

	to{
		opacity: 0
	}
}

.fadeOut{
	animation-name: fadeOut
}

@keyframes fadeOutDown{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(0,100%,0);
		opacity: 0;
	}
}

.fadeOutDown{
	animation-name: fadeOutDown
}

@keyframes fadeOutDownBig{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(0,2000px,0);
		opacity: 0;
	}
}

.fadeOutDownBig{
	animation-name: fadeOutDownBig
}

@keyframes fadeOutLeft{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(-100%,0,0);
		opacity: 0;
	}
}

.fadeOutLeft{
	animation-name: fadeOutLeft
}

@keyframes fadeOutLeftBig{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(-2000px,0,0);
		opacity: 0;
	}
}

.fadeOutLeftBig{
	animation-name: fadeOutLeftBig
}

@keyframes fadeOutRight{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(100%,0,0);
		opacity: 0;
	}
}

.fadeOutRight{
	animation-name: fadeOutRight
}

@keyframes fadeOutRightBig{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(2000px,0,0);
		opacity: 0;
	}
}

.fadeOutRightBig{
	animation-name: fadeOutRightBig
}

@keyframes fadeOutUp{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(0,-100%,0);
		opacity: 0;
	}
}

.fadeOutUp{
	animation-name: fadeOutUp
}

@keyframes fadeOutUpBig{
	0%{
		opacity: 1
	}

	to{
		transform: translate3d(0,-2000px,0);
		opacity: 0;
	}
}

.fadeOutUpBig{
	animation-name: fadeOutUpBig
}

@keyframes flip{
	0%{
		transform: perspective(400px) rotateY(-1turn);
		animation-timing-function: ease-out
	}

	40%{
		transform: perspective(400px) translateZ(150px) rotateY(-190deg);
		animation-timing-function: ease-out
	}

	50%{
		transform: perspective(400px) translateZ(150px) rotateY(-170deg);
		animation-timing-function: ease-in
	}

	80%{
		transform: perspective(400px) scale3d(.95,.95,.95);
		animation-timing-function: ease-in
	}

	to{
		transform: perspective(400px);
		animation-timing-function: ease-in
	}
}
