/* Typography */

.typography{
	p, 
    li, 
    td, 
    th{
        line-height: 1.5em;
    }

    p,
    ul,ol,
    h1, h2, h3, h4, h5, h6,
    table,
    fieldset,
    blockquote,
    iframe{
        margin-bottom: 1em;
    }

	h1{
		display: block;
		margin-top: 0;
		margin-bottom: 1em;
		font-family: $font-secondary;
		font-weight: 700;
		color: $color-black-normal;

		@include font-size(30px);
	}

	h2{
		display: block;
		margin-top: 0;
		margin-bottom: 1em;
		font-family: $font-secondary;
		font-weight: 700;
		color: $color-black-normal;

		@include font-size(26px);
	}

	h3{
		display: block;
		margin-top: 0;
		margin-bottom: 1em;
		font-family: $font-secondary;
		font-weight: 700;
		color: $color-black-normal;

		@include font-size(24px);
	}

	h4{
		display: block;
		margin-top: 0;
		margin-bottom: 1em;
		font-family: $font-secondary;
		font-weight: 700;
		color: $color-black-normal;

		@include font-size(22px);
	}

	h5{
		display: block;
		margin-top: 0;
		margin-bottom: 1em;
		font-family: $font-secondary;
		font-weight: 700;
		color: $color-black-normal;

		@include font-size(20px);
	}

	h6{
		display: block;
		margin-top: 0;
		margin-bottom: 1em;
		font-family: $font-secondary;
		font-weight: 700;
		color: $color-black-normal;

		@include font-size(18px);
	}

	a{
		text-decoration: underline;
		color: $color-black-normal;
		&:hover{
			text-decoration: underline;
		}
	}

	p{
		display: block;
		margin-top: 0;
		margin-bottom: 2.5em;
		font-family: $font-primary;
		font-weight: 400;
		line-height: 26px;
		color: $color-black-normal;

		@include font-size(16px);
	}

	strong{
		font-weight: 700;
		color: $color-black-normal;
	}
	
	img{
		max-width: 100%;
		margin-bottom: 2em;
	}

	ul,
	ol{
		margin-bottom: 40px;
		padding-left: 0;
		list-style: none;
		li{
			position: relative;
			margin-bottom: 3px;
			padding-left: 25px;
			font-family: $font-primary;
			font-weight: 400;
			line-height: 1.6;
			color: $color-black-normal;

			@include font-size(16px);
		}
	}

	ul{
		li{
			&:before{
				position: absolute;
				top: 9px;
				left: 3px;
				display: block;
				width: 6px;
				height: 6px;
				content: "";
				color: $color-black-normal;
				border-radius: 100%;
				background-color: $color-black-normal;
			}
		}
	}

	ol{
		list-style-position:inside;
		counter-reset: item;
		li{
			&:before{
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				line-height: 1.4;
				content: counter(item)'.';
				counter-increment: item;
				color: $color-black-normal;

				@include font-size(16px);
			}
		}
	}

	figure{
		margin: 0;
		margin-bottom: 2em;
		img{
			margin: 0;
		}
	}

	figcaption{
		margin-top: 10px;
		font-family: $font-primary;
		font-weight: 400;
		color: $color-black-normal;

		@include font-size(12px);
	}
}
